@{
    ViewData["Title"] = "Página inicial";
    Layout = "_LayoutDeslogado";
}

<div class="text-center">
    <h1 class="display-4">Gestão Financeira</h1>
    <p>Controle suas finanças para uma melhor qualidade de vida!</p>
</div>
<div class="text-center">
    <a class="btn btn-primary btn-lg" asp-controller="Login" asp-action="Index">Fazer login</a>
    <a class="btn btn-secondary btn-lg" asp-controller="Cadastro" asp-action="Index">Cadastre-se</a>
</div>
